In [1]:
import pandas as pd
import numpy as np
import pandas_gbq
import os.path
import altair as alt
from pandas.io.json import json_normalize
from datetime import datetime
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
import json
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [2]:
df = """
SELECT
  merchant_id,
  repeat_loan,
  topup,loan_propensity,
  COALESCE(Channel, 'Offline') AS Channel,
  COALESCE(running_bureau_loans,0) running_bureau_loans
FROM (
  SELECT
    DISTINCT lrv.merchant_id,
    repeat_loan,
    risk_segment,
    Channel,
    running_bureau_loans,
    CASE
      WHEN UPPER(risk_segment)='TOPUP' THEN 1
    ELSE
    0
  END
    AS topup,
    case when pr.merchant_id is not null then 1
    else 0
    end 
    as loan_propensity
  FROM
    `easy_loan.lending_risk_variables` lrv
  LEFT JOIN
    bharatpe-analytics-prod.bharatpe_ml_data.merchant_channel mc
  ON
    lrv.merchant_id = mc.merchant_id
  LEFT JOIN
    `bharatpe-analytics-prod.bharatpe_ml_data.bureau_running_loans_latest` rl
  ON
    rl.merchant_id = lrv.merchant_id
  
  LEFT JOIN (select merchant_id from bharatpe-analytics-prod.bharatpe_ml_data.pdt_final_reco_v3 where loan=1 ) pr 
  on pr.merchant_id = lrv.merchant_id
  WHERE
    lrv.merchant_id IN (
    SELECT
      DISTINCT merchant_id
    FROM
      `bharatpe_analytics_data.lending_risk_variables` lrv
    WHERE
      DATE(created_at) >= DATE_SUB(CURRENT_DATE(), INTERVAL 180 day) -- became eligible in last 90 days, feel free to change or comment this condition
      AND final_offer >5100
      AND merchant_id IN (
      SELECT
        merchant_id
      FROM (
        SELECT
          merchant_id,
          COUNT(DISTINCT id) AS txns,
          SUM(amount) AS tpv
        FROM
          bharatpe-analytics-prod.payin.transactions
        WHERE
          status = "SUCCESS"
          AND DATE(payment_timestamp) >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
        GROUP BY
          1
        HAVING
          txns >=20
          AND tpv >= 500 ) ) ) )
"""
df = pandas_gbq.read_gbq(df,use_bqstorage_api=True)

Downloading: 100%|██████████|

In [3]:
df['existing_bureau_loan'] = np.where(df['running_bureau_loans'] >0,1,0)

In [4]:
c1 = df['loan_propensity'] ==1
c2 = df['Channel'] == "Digital"
c3 = df['topup'] ==1
c4 = df['existing_bureau_loan'] ==1
c5 = df['repeat_loan'] ==1

In [5]:
c = (c1 & c2 & (c3|c4|c5))

In [6]:
digital_campaign = df[c]
digital_campaign

,merchant_id,repeat_loan,topup,loan_propensity,Channel,running_bureau_loans,existing_bureau_loan
2,36469924,0,0,1,Digital,5,1
6,112702,1,1,1,Digital,12,1
7,37647346,1,0,1,Digital,3,1
31,35515998,1,0,1,Digital,3,1
35,37317374,1,1,1,Digital,0,0
...,...,...,...,...,...,...,...
100114,37985533,0,0,1,Digital,1,1
100119,37283417,1,0,1,Digital,0,0
100122,40953267,0,0,1,Digital,5,1
100146,38094321,0,0,1,Digital,2,1
100152,35448865,1,1,1,Digital,0,0